@import './variables.scss';

#cpuStatusArea {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.75rem;
}

#title {
    margin: 0;
}

#statusTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 55%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    border-collapse: collapse;

    p {
        width: 25%;
        text-align: center;
        margin: 0;
        line-height: 0.5rem;
    }
}

#interRegArea {
    height: 30%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.register {
    width: 25%;
    height: 100%;
    text-align: center;

    h3 {
        margin: 0;
        padding-bottom: 1%;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.regValue {
    padding-bottom: 2% !important;
}