@import './variables.scss';

#programEditor {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    height: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    h3 {
        width: 45%;
        text-align: center;
        margin: 0;
    }
}

button {
    float: center;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 45%;
    border-radius: 10px;
    color: $navy;
}

.clickable {
    background-color: $green;
}

.clickable:hover {
    cursor: pointer;
    background-color: $red;
    color: $silver;
}

.notClickable {
    background-color: $gray;
}

.progArea {
    background-color: $navy;
    resize: none;
    color: $silver;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    width: 45%;
    height: 80%;
}

.editable:focus {
    outline: 0 !important;
    border-color: $red;
    box-shadow: 0 0 5px $red;
}

#readOnly {
    outline: none !important;
}

#rightBtnArea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
}

#progNameInput {
    background-color: $navy;
    resize: none;
    color: $silver;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

#runBtn {
    width: 25%;
}