@import './variables.scss';

#queueArea {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    height: 40%;
}

#queueAreaTitle {
    text-align: center;
    margin: 0;
    height: 10%;
}

#queues {
    display: flex;
    align-items: center;
    height: 90%;
}

.queueSection {
    width: 50%;
    height: 100%;
}

#queueList {
    display: flex;
    flex-direction: column;
}

.queueListItem {
    width: 100%;
    border: 1px solid $silver;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    
    h3 {
        color: $silver;
        font-size: 1rem;
        margin: 0;
        padding-left: 2.5%;
    }

    h3:hover {
        cursor: pointer;
        background-color: rgba($color: $silver, $alpha: 0.3);
    }
}

.selected {
    background-color: green;
}

#statusItem {
    padding: 0;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    height: 99%;
    padding-left: 1%;
    border: 1px solid $silver;
}