// Colors from http://clrs.cc/
$navy: #001f3f;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$purple: #B10DC9;
$fuchsia: #F012BE;
$maroon: #85144b;
$red: #FF4136;
$orange: #FF851B;
$yellow: #FFDC00;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;
$white: #FFFFFF;
